NODE_ENV=development

DATABASE_URL="DATABASE URL"
# DATABASE_URL="postgresql://neondb_owner:npg_JNuZyCg5Alq1@ep-ancient-bread-aeaad1r7-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=5000
APP_URL=http://localhost:5000
BCRYPT_SALT_ROUNDS=10

# jwt 
JWT_ACCESS_SECRET=335fad0b360162142946c8f48d1d8f5c86f22857696a55119f20418a
JWT_REFRESH_SECRET=2d381ec54b22d8a07de3da6e7f6c40e75b666b52c7d522f5449e80a
JWT_ACCESS_EXPIRE_IN=1d
JWT_REFRESH_EXPIRE_IN=7d

# google auth 
GOOGLE_CLIENT_ID=your.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOPX-ZBtZXzH

# radis
REDIS_USER=default
REDIS_PASSWORD=wk4gCMIoe2qR
REDIS_HOST=persuasi80.db.redis.io
REDIS_PORT=145

# node mailer
SMTP_PASSWORD=brwoo
SMTP_USER=your@gmail.com
SMTP_SENDER=your@gmail.com

# cloudinary
CLOUDINARY_CLOUD_NAME=asfd43dasf
CLOUDINARY_CLOUD_SECRET=-giv1B_8masdfkEzCM6w
CLOUDINARY_CLOUD_API_KEY=236756785382
